@tailwind base;
@tailwind components;
@tailwind utilities;

details[open] summary ~ * {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px; /* Valor grande para garantir espaço */
  }
}

details summary {
  cursor: pointer;
}

details ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.splide__pagination {
  bottom: -3rem !important;
  gap: 28px !important;
}

.splide__pagination__page {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
}

.splide__pagination__page.is-active {
  background-color: #fbb034 !important;
  opacity: 1 !important;
}

.splide-teams .splide__arrow--prev {
  display: none !important;
}

.splide-teams .splide__arrow--next {
  right: -3rem !important;
  background-color: #181818 !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #fbb034;
}

.splide-teams .splide__arrow--next svg {
  fill: #fbb034 !important;
}

.splide-testimonials .splide__arrow--next {
  right: -3rem !important;
  background-color: #242322 !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #fbb034;
}

.splide-testimonials .splide__arrow--prev {
  left: -1rem !important;
  background-color: #242322 !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #fbb034;
}

.splide-testimonials .splide__arrow--next svg {
  fill: #fbb034 !important;
}

.splide-testimonials .splide__arrow--prev svg {
  fill: #fbb034 !important;
}
